@summary-height: 20vh;
@border-bottom-color: #ddd;
@main-panel-left-right: 100px;

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

#summary {
  background: #5B73A7;
  width: 100vw;
  height: @summary-height;
}

.base-panel {
  width: 35%;
  position: absolute;
  top: @summary-height;
  bottom: 0;
}

#income {
  left: @main-panel-left-right;
}

#expend {
  right: @main-panel-left-right;
}

//--------panel header----------
.total-title {
  padding: 0 10px 5px;
}

.total-money {
  float: right;
}

.total-currency {
  margin-right: 5px;
}


//--------panel list-----------
.base-panel-list {
  width: 100%;
  height: 52%;
  border: 2px dashed #ccc;
  position: relative;
}

.record-list {
  padding: 0 10px;
  height: 100%;
  overflow: auto;
}

.incomeItem, .expendItem {
  padding: 10px;
  border-bottom: 1px solid @border-bottom-color;
}

.record-amount {
  float: right;
}

.record-currency {
  margin-right: 5px;
}

@btns-list-width: 20px;
.btns-list {
  position: absolute;
  right: -@btns-list-width;
  top: 60px;
  background-color: #bbb;
  width: @btns-list-width;
  height: 40px;
  border-radius: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  a {
    color: #fff;
    line-height: 20px;
    font-size: 20px;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

//--------panel chart----------
.base-panel-chart {
  height: 200px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.chartContainer {
  position: absolute;
  bottom: 20px;
}

//---------modal---------
.form-group {
  margin-top: 10px;
}